/*container*/
.container {
    width: 1440px;
    margin: 0 auto;
}

/*----------浮层layer----------*/
.layer {
    position: fixed;
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #2a3460;
    opacity: 0.7;
}

.layer-main {
    position: relative;
    width: 576px;
    height: 360px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid red;
}

.layer-main .layer-title {
    font-size: 21px;
    line-height: 30px;
    color: #2a3460;
    padding-left: 32px;
    margin-bottom: 30px;
}

.layer-main .layer-title:before {
    content: url('../img/book.png');
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-left: -32px;
    margin-top: 4px;
}

.layer-main .layer-text {
    vertical-align: top;
    font-size: 17px;
    color: #666666;
    line-height: 30px;
    /*margin-right: 30px;*/
}

/*.layer-main select {*/
    /*border: 1px solid #eeeeee;*/
    /*background: #ffffff;*/
    /*font-size: 16px;*/
    /*line-height: 1;*/
    /*height: 36px;*/
    /*width: 320px;*/
    /*border-radius: 4px;*/
    /*padding: 0 10px;*/
/*}*/

.layer-main .layer-choice {
    display: inline-block;
    position: absolute;
    left: 128px;
}

.layer-main #layer-input {
    border: 1px solid #eeeeee;
    background: #ffffff;
    font-size: 16px;
    line-height: 36px;
    width: 320px;
    border-radius: 4px;
    padding: 0 10px;
}

.layer-main .layer-choice:before {
    position: absolute;
    right: 11px;
    content: url('../img/choice.png');
    display: block;
    width: 9px;
    height: 5px;
}

.layer-main .layer-choice ul {
    position: relative;  // 为了z-index
    width: 320px;
    height: 180px;
    overflow: auto;
    border: 1px solid #eeeeee;
    z-index: 6;
}

.layer-main .layer-choice ul::-webkit-scrollbar-corner {
    display: none;
    width: 0;
    height: 0;
}

.layer-main .layer-choice ul::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff; /* or add it to the track */
}
/* Add a thumb */
.layer-main .layer-choice ul::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 2px;
    height: 100px;
}

.layer-main .layer-choice li {
    border-bottom: 1px solid #eeeeee;
    background: #ffffff;
    font-size: 16px;
    line-height: 36px;
    width: 100%;
    padding: 0 10px;
}

.layer-main .layer-choice li:hover {
    background: #f7f7f7;
    cursor: default;
}

.layer-main .layer-choice li:active {
    color: #25adff;
}


.layer-main button {
    position: absolute;
    bottom: 30px;
    left: 128px;
    display: block;
    width: 320px;
    height: 44px;
    cursor: pointer;
    background-color: #25adff;
    font-size: 16px;
    color: #ffffff;
}


/*--------header---------*/
header {
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    background-color: #2a3460;
}

header .logo {
    display: inline-block;
    vertical-align: top;
    width: 144px;
    height: 40px;
    margin-right: 45px;
    background: url('../img/index-logo.png') center no-repeat;
    background-size: 144px 40px;
}

header .title {
    display: inline;
    vertical-align: top;
    font-size: 22px;
    color: #25adff;
}

header .header-right {
    float: right;
    padding-left: 25px;
    padding-top: 10px;
    color: #f0f0f0;
    font-size: 14px;
    vertical-align: bottom;
}

header .user:before {
    position: absolute;
    width: 14px;
    height: 15px;
    content: url('../img/user.png');
    margin-left: -25px;
    margin-top: 1px;
}
/*-------main 公共----------*/
.main {
    padding: 30px;
    background: #f0f0f0;
}

.main-top {
    height: 240px;
    width: 100%;
    font-size: 0;
}

.main-top .content {
    display: inline-block;
    height: 100%;
    font-size: 0;
}

.main-top .text, .main-top .check-text {
    font-size: 17px;
    color: #666666;
}

.main-top .operate {
    float: right;
    border-left: 1px solid #eeeeee;
    height: 100%;
    width: 160px;
}

.main .title {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    color: #2a3460;
    padding-left: 32px;
}

.main .title:before {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-left: -32px;
    margin-top: 2px;
}

.main-left .title:before {
    content: url('../img/question.png');
}
.main-right .title:before {
    content: url('../img/screen.png');
    margin-top: 4px;
}
.main-bottom .title:before {
    content: url('../img/result.png');
    margin-top: 6px;
}

.main .choice input {
    position: absolute;
    opacity: 0;
}

.main-top .choice {
    margin: 25px 0;
}

.main .text, .main .check-text {
    -moz-user-select:none; // 文字不让选中
    -khtml-user-select:none;
    -webkit-user-select:none;
}

/*-----------main-left-----------*/
.main-left {
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    width: 675px;
    height: 100%;
    padding: 30px 0 30px 30px;
    margin-right: 30px;
    background-color: #ffffff;
}

.main-left .text {
    display: inline-block;
    width: 73px;
}

/*question-type*/
.main-left .question-type label {
    margin-left: 15px;
    padding: 20px 10px 10px 30px; // 增加点击区域
}

.main-left .question-type label:first-of-type {
    margin-left: 0;
}
.main-left .question-type label .check-image {
    content: url('../img/single.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 3px;
    margin-left: -25px;
}

.main-left .question-type input:checked + .check-image {
    content: url('../img/single-checked.png');
}

/*number*/
.main-left .number select {
    background: transparent;
    width: 81px;
    height: 32px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin-left: 5px;
    padding: 0 10px;
    -webkit-appearance: none;
}

.main-left .number:after {
    content: url('../img/choice.png');
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 5px;
    margin-top: 12px;
    margin-left: -19px;
}

/*answer*/
.main-left .answer label {
    margin-left: 20px;
    padding: 20px 10px 10px 30px; // 增加点击区域
}

.main-left .answer label:first-of-type {
    margin-left: 0;
}

.main-left .answer label .check-image {
    content: url('../img/single.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 2px;
    margin-left: -25px;
}

.main-left .answer label input:checked+.check-image {
    content: url('../img/single-checked.png');
}

/*main-left operate*/
.main-top .operate .text {
    display: block;
    width: 100%;
    padding: 25px 0 15px 0;
    text-align: center;
    font-size: 21px;
    color: #71d64c;
    font-weight: 700;
}

.main-left .operate:after {
    content: url('../img/start-icon.png');
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

/*main-right*/
.main-right {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    width: 675px;
    height: 100%;
    padding: 30px 0 30px 30px;
    background-color: #ffffff;
}

.main-right .text {
    display: inline-block;
    width: 130px;
}

.main-right .content .spec {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    color: #999999;
}

/*range*/
.main-right .range label {
    margin-left: 15px;
    padding: 20px 10px 10px 30px; // 增加点击区域
}

.main-right .range label:first-of-type {
    margin-left: 0;
}
.main-right .range label .check-image {
    content: url('../img/single.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 4px;
    margin-left: -25px;
}

.main-right .range input:checked + .check-image {
    content: url('../img/single-checked.png');
}

/*show*/
.main-right .show label {
    padding: 20px 10px 5px 30px; // 增加点击区域
}

.main-right .show label:first-of-type {
    position: absolute;
    padding: 0 30px 10px 30px;
    margin-top: 35px;
}
.main-right .show label .check-image {
    content: url('../img/single.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 4px;
    margin-left: -25px;
}

.main-right .show input:checked + .check-image {
    content: url('../img/single-checked.png');
}
/*main-right operate*/
.main-right .operate .text:first-of-type {
    padding-bottom: 0;
}

.main-right .operate .text:last-of-type {
    padding-top: 0;
    padding-bottom: 20px;
}

.main-right .operate:after {
    content: url('../img/open.png');
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 37px;
}

/*main-bottom*/
.main-bottom {
    height: 490px;
    width: 100%;
    padding:30px;
    margin-top: 30px;
    border: 1px solid red;
    background-color: #ffffff;
}
