body {
    background: #eff0f4;
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
    color: #7a7676;
    line-height: 20px;
    font-size: 14px;
}

input, select, textarea {
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
    color: #767676;
}

/*a {*/
/*color: #65CEA7;*/
/*}*/
a{
    text-decoration:none;
}
a:focus, a:active, a:hover, a:link{
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #353F4F;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}
label {
    font-weight: 500;
}

hr {
    border-color: #ddd;
}