@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    /*background-color: rgb(219,194,187);*/
}

input, button, select, textarea {
    outline:none;
    border-style: none;
}

textarea{
    resize:none;
}

a{
    outline: none;
    text-decoration:none;
}

a:focus, a:active, a:hover, a:link{
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-weight: 500;
}

hr {
    border-color: #ddd;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}